@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,500,600,700|Roboto:100,300,400,500,700,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
/*-----------Navbar--------------*/

.bg-dark {
    background-color: #545b62;
}
.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-weight: 300;
    font-size: 35px;
    color: greenyellow;
}

a:hover {
    color: #f5c946;
}

a {
    color: #fafafa;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 10px;
    margin-right: 4rem;
}

/*-----------Logo--------------*/

.logo-text {
   font-family: 'Dancing Script', cursive;
   font-weight: 300;
   font-size: 115px;
   color: greenyellow; 
}

.logo-text2 {
   font-family: 'Dancing Script', cursive;
   font-weight: 300;
   font-size: 90px;
   color: #ffc107;  
}


/*-----------Background--------------*/


#background-picture1 {
    background-image: url("../images/background.jpg");
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 150vh;
    width: 100%;
    margin: 0px;
    z-index: 1;

    
}




.jumbotron {
    background-color:#343a40;
}